@tailwind base;
html {
  scroll-behavior: smooth
}
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

#navLink:hover{
  color: rgb(10, 38, 197);
  background: #000;
}
@media (max-width:770px) {
#card {
position: relative;
right:100px;
gap: 220px;
}

}

@media (max-width:650px) {
#card{
 position: relative;
 right: 0px;
 gap:45px
}
}

@media (max-width:500px) {
#card{
 position: relative;
 right:60px;
 gap:45px
}
}